body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.color-1 {
    background-color: blue;
    height: 200px;
}

.color-2 {
    background-color: red;
    height: 200px;
}
.color-3 {
    background-color: yellow;
    height: 200px;
}

.slider {
    height: 408px;
    padding: 0!important;
}

.header {
    background-color: black!important;
}

.list-group-item:first-child {
    border-top-left-radius: .7rem!important;
    border-top-right-radius: .7rem!important;
}

@media only screen and (max-width: 985px) {
    .slider {
        height: 408px;
        margin-top: 20px;
    }
  }
    #topbar {
      top: -5px; /* has to be around the height of the bar or more. */
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      background-color: #c0392b;
      color: #fff;
      font-size: 25px;
      text-align: center;
      -webkit-box-shadow: 0 8px 6px -6px black;
         -moz-box-shadow: 0 8px 6px -6px black;
              box-shadow: 0 8px 6px -6px black;
      transition: top 1s;
  }

  #topbar ul {
    list-style: none;
  }

  #topbar ul li {
      padding: 0 10px;
      float: left;
  }

  #topbar ul li:after
  {
    content: ' | ';
  }
  #topbar ul li:last-child:after
  {
    content: '';
  }

  #slider {
    position: relative;
    overflow: hidden;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 665px;
    height: 408px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
  